{% extends "base.html" %}
{% block content %}

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-5">
  <div class="card shadow-sm p-3">
    <h4 class="mb-3 text-center">Edit Lab Test</h4>

    <form method="POST">
      {% csrf_token %}

      <!-- Patient (Read Only) -->
      <div class="mb-2">
        <label class="form-label">Patient</label>
        <input type="text" class="form-control form-control-sm" value="{{ test.patient_name }}" readonly>
      </div>

      <!-- Test Name (Read Only) -->
      <div class="mb-2">
        <label class="form-label">Test</label>
        <input type="text" class="form-control form-control-sm" value="{{ test.lab_test }}" readonly>
      </div>

      <!-- Status -->
      <div class="mb-2">
        <label class="form-label">Status</label>
        <select name="lab_result" class="form-control form-control-sm">
          <option value="PENDING" {% if test.lab_result == "PENDING" %}selected{% endif %}>PENDING</option>
          <option value="ONGOING" {% if test.lab_result == "ONGOING" %}selected{% endif %}>ONGOING</option>
          <option value="COMPLETED" {% if test.lab_result == "COMPLETED" %}selected{% endif %}>COMPLETED</option>
        </select>
      </div>

      <!-- Result Range -->
      <div class="mb-2">
        <label class="form-label">Result Range</label>
        <select name="result_range" class="form-control form-control-sm">
          {% for value, label in range_choices %}
            <option value="{{ value }}" {% if test.result_range == value %}selected{% endif %}>
              {{ label }}
            </option>
          {% endfor %}
        </select>
      </div>

      <!-- Description -->
      <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea name="result_desc" class="form-control form-control-sm" rows="2">{{ test.result_desc }}</textarea>
      </div>

      <button type="submit" class="btn btn-primary btn-sm w-100">
        Update Test
      </button>

    </form>
  </div>

</div>

  </div>
</div>

{% endblock %}
