<!-- templates/base-patient.html - Patient Dashboard Layout -->
{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar p-3">
            <div class="sticky-md-top">
                <h5 class="mb-3">Patient Dashboard</h5>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">
                            <i class="bi bi-house"></i> Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'doctors:alldoctors' %}">
                            <i class="bi bi-person-fill"></i> Doctors
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'doctors:alltreatments' %}">
                            <i class="bi bi-hospital"></i> Treatments
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' %}">
                            <i class="bi bi-person-circle"></i> Profile
                        </a>
                    </li>
                </ul>
                <hr>
                <p class="text-muted small">{{ user.username }}</p>
            </div>
        </nav>

        <!-- Main Content -->
        <main class="col-md-9 col-lg-10 px-md-4">
            {% block dashboard_content %}{% endblock %}
        </main>
    </div>
</div>
{% endblock %}
